@import "../../../../Shared";

#container-term{
  padding: 0 5px;
  #term-header{
    align-items: center;
    justify-content: space-between;
    .menu-title{
      font-size: .8em;
      color: $light-green;
    }
    .menu-icon{
      color: $light-green;
    }
  }
}